

<div class="card">
  <div class="card-body login-card-body">
    <p class="login-box-msg">Iniciar sesion</p>

    <form [formGroup]="loginForm" autocomplete="off" (submit)="loginUser()">
      <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email" [ngClass]="{'invalid': isError('email')}" formControlName="email">
        <div class="input-group-append">
          <div class="input-group-text" [ngClass]="{'invalid': isError('email')}">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password" [ngClass]="{'invalid': isError('contrasena')}" formControlName="contrasena">
        <div class="input-group-append">
          <div class="input-group-text" [ngClass]="{'invalid': isError('contrasena')}">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="icheck-primary">
            <input type="checkbox" id="remember">
            <label for="remember">
              Recuérdame
            </label>
          </div>
        </div>
        <div class="col-12 mt-2">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="sendingData">Login</button>
        </div>
      </div>
    </form>

    <!-- <div class="social-auth-links text-center mb-3">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-primary">
        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
      </a>
      <a href="#" class="btn btn-block btn-danger">
        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
      </a>
    </div> -->

    <!-- <p class="mb-1">
      <a href="forgot-password.html">I forgot my password</a>
    </p> -->

    <hr>

    <p class="mb-0">
      <a routerLink="/auth/register" class="text-center">No tienes una cuenta?? registrate aqui</a>
    </p>
  </div>
  <!-- /.login-card-body -->
</div>