<ng-container *ngIf="isLoading; else elseLoading">
  
  <app-loading></app-loading>

</ng-container>
<ng-template #elseLoading>
  
  <section class="content-header">
    <div class="container-fluid">
      <div class="col-sm-6">
        <h1>Usuarios</h1>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="title">
                <h3 class="card-title mr-3">Usuario creados</h3>
                <div>
                  <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modal-create-event">Crear nuevo usuario</button>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Fecha de creacion</th>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th style="width: 150px">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Fecha creacion</td>
                    <td>Personal 1</td>
                    <td>Rol</td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                          <a class="dropdown-item">Editar</a>
                          <a class="dropdown-item">Eliminar</a>
                          <a class="dropdown-item">Eventos asignados</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        
      </div>
    </div>
  </section>

</ng-template>  




<form [formGroup]="userForm" autocomplete="off" (ngSubmit)="create()">
  <div class="modal fade" id="modal-create-event">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nuevo usuario</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #refClose>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
                  
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nombre del usuario</label>
                <input type="text" [ngClass]="{'invalid': isError('nombre_usuario')}" class="form-control" placeholder="Nombre del usuario" formControlName="nombre_usuario">
                <p *ngIf="isError('nombre_usuario')" class="text-danger text-right">El nombre es obligatorio</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Email</label>
                <input type="text" [ngClass]="{'invalid': isError('email')}" class="form-control" placeholder="Email" formControlName="email">
                <p *ngIf="isError('email')" class="text-danger text-right">El email es obligatorio</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Contraseña</label>
                <input type="text" [ngClass]="{'invalid': isError('contrasena')}" class="form-control" placeholder="Contraseña" formControlName="contrasena">
                <p *ngIf="isError('contrasena')" class="text-danger text-right">La contraseña es obligatorio</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Rol</label>
                <select [ngClass]="{'invalid': isError('rol')}" class="form-control" formControlName="rol">
                  <option selected hidden value="">Seleccione un rol</option>
                  <option selected value="controlador">Controlador</option>
                </select>
                <p *ngIf="isError('rol')" class="text-danger text-right">Debe seleccionar un rol</p>
              </div>
  
            </div>
          </div>
  
  
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="isCreateUser">Crear</button>
        </div>
      </div>
    </div>
  </div>
</form>
