<ng-container *ngIf="isLoading(); else elseLoading">
  <app-loading></app-loading>
</ng-container>
<ng-template #elseLoading>
  
  <section class="content-header">
    <div class="container-fluid">
      <div class="col-sm-6">
        <h1>Controladores asignados</h1>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="title">
                <h3 class="card-title mr-3">Controladores asignados</h3>
                <div>
                  <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modal-create-event">Agregar nuevo usuario</button>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Ubicacion asignado</th>
                    <th>Horario asignado</th>
                    <th style="width: 150px">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of userModel">
                    <td>{{user.nombre}}</td>
                    <td>{{user.ubicacion}}</td>
                    <td>{{user.horario | date:'M/d/yy, h:mm a':'UTC-0'}}</td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                          <a class="dropdown-item" (click)="delete(user)">Eliminar</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        
      </div>
    </div>
  </section>

</ng-template>


<form autocomplete="off" [formGroup]="userForm" (ngSubmit)="addController()">
  <div class="modal fade" id="modal-create-event">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar nuevo controlador</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #refClose>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
                  
          <div class="row">
            
            <div class="col-md-12">
              <div class="form-group">

                <label for="">Controlador</label>
                <select name="" id="" class="form-control" formControlName="idcontrolador">
                  <option value="0" hidden>Seleccione un controlador</option>
                  <ng-container *ngFor="let userModel of allUserModel">
                    <option [value]="userModel.id">{{userModel.nombre}}</option>
                  </ng-container>
                  
                </select>

              </div>
            </div>
            
            <div class="col-md-12" *ngIf="eventModel">
              <div class="form-group">

                <label for="">Ubicacion</label>
                <select name="" id="" class="form-control" formControlName="idubicacion" (change)="changeLocation()">
                  <option value="0" hidden>Seleccione la ubicacion</option>
                  <ng-container *ngFor="let location of eventModel.ubicaciones">
                    <option [value]="location.idubicacion">{{location.nombre}}</option>
                  </ng-container>
                  
                </select>

              </div>
            </div>

            <div class="col-md-12" *ngIf="dateModel.length > 0">
              <div class="form-group">

                <label for="">Horario</label>
                <select name="" id="" class="form-control" formControlName="idhorario">
                  <option value="0" hidden>Seleccione un horario</option>
                  <ng-container *ngFor="let date of dateModel">
                    <option [value]="date.idhorario">{{date.fecha_hora | date:'M/d/yy, h:mm a':'UTC-0'}}</option>
                  </ng-container>
                  
                </select>

              </div>
            </div>
            
          </div>
  
  
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="isAddUser">Crear</button>
        </div>
      </div>
    </div>
  </div>
</form>
