<div class="nav">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="'/public/eventos'">
      <img src="../../../assets/dist/img/logo-ticket.png" alt="Tu Ticket">
    </a>
    

    <div class="category" (click)="showCategories = !showCategories">
      <i class="fa fa-align-justify"></i>
      <a class="noselect">Categoria</a>
    </div>

    
    <div class="form-group">
      <label for=""></label>
      <input type="text" class="form-control" placeholder="Buscar">
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <div class="collapse navbar-collapse" id="navbarText">
      
      <ul class="navbar-nav mr-auto">
        
  
      </ul>
  
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Carlos Alberto
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Configuracion</a>
          <a class="dropdown-item" href="#">Historial de compras</a>
          <a class="dropdown-item" href="#">Cerrar Sesion</a>
        </div>
      </div>
  
    </div>
    
  </nav>

  <div class="section-categories" [hidden]="!showCategories">
    <h5 class="noselect">Categoria 1</h5>
    <h5 class="noselect">Categoria 2</h5>
    <h5 class="noselect">Categoria 3</h5>
    <h5 class="noselect">Categoria 4</h5>
    <h5 class="noselect">Categoria 5</h5>
  </div>
</div>


