.nav-item a{
  text-decoration: none;
}

.nav{
  z-index: 1;
}

.navbar{
  width: 100%;
  padding-block: 15px;
  padding-inline: 20px;
}

.category{
  margin-inline: 50px;
  cursor: pointer;
}

.category a{
  font-size: 20px;
}

.category i{
  margin-right: 9px;
  font-size: 18px;
}

.category a{
  color: black;
}

.section-categories{
  padding-block: 22px;
  /* background-color: blue; */
  background: linear-gradient(0.25turn, #6C2CE2, #C6397D);
  display: flex;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-inline: 30px;
  width: 100%;
}

.section-categories h5{
  cursor: pointer;
  margin-inline: 30px;
}