<div class="modal fade" id="modal-details-event-sector">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Comprar Ticket</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #refClose>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <form [formGroup]="withSectorForm" autocomplete="off" (submit)="addSector()">

          <div class="modal-body">

            <div class="mb-3">

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Sectores</label>
                    <select class="form-control" formControlName="idSector" (change)="changeSector()">
                      <option [value]="0" hidden>Seleccione un sector</option>
                      <option [value]="sector.idsector" *ngFor="let sector of ticketDataService.sectors">{{sector.nombre}}</option>
                    </select>
                  </div>
                </div>


                  <ng-container *ngIf="isLoadingData; else elseLoadingData">
                    <div class="col-md-8 text-center">
                      <app-loading-data></app-loading-data>
                    </div>
                  </ng-container>
                  <ng-template #elseLoadingData>

                    <ng-container *ngIf="!isClear">

                      <ng-container *ngIf="this.ticketDataService.spacesAux.length === 0; else elseSpace">
                        
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Cantidad de entradas</label>
                            <input type="number" class="form-control" placeholder="Cantidad de entradas" formControlName="cantidad" (keyup.enter)="addSector()">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Entradas disponibles</label>
                            <input type="number" class="form-control" placeholder="Cantidad de entradas" [value]="spaceSector" disabled>
                          </div>
                        </div>
    
                      </ng-container>
                      <ng-template #elseSpace>
                        
                        <div class="col-md-8">
                          <div class="form-group">
                            <label>Espacios</label>
                            <select class="form-control" formControlName="idSpace">
                              <option [value]="0" hidden>Seleccione un espacio</option>
                              <option *ngFor="let space of this.ticketDataService.spaces" [value]="space.idespacio">{{space.identificador}}) {{space.tipo_de_espacio}} - Capacidad: {{space.cantidad_de_personas}} -  Precio: {{space.precio}} Bs.</option>
                            </select>
                          </div>
                        </div>
    
                      </ng-template>
                    </ng-container>

                  </ng-template>
                

                

                
              </div>

              <div class="text-right" *ngIf="!isLoadingData && !isClear">
                <button type="submit" class="btn btn-primary">Agregar</button>
              </div>

            </div>

            <ng-container *ngIf="ticketDataService.aggregateSectors.length > 0; else elseEmptyAggregateSector">
              
              <ng-container *ngFor="let aggregateSectors of ticketDataService.aggregateSectors">

                <ng-container *ngIf="!aggregateSectors.espacios; else elseNoSpace">
                  
                  <div class="sector">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="title-sector">
                          <h4>{{aggregateSectors.nombre}}</h4>
                          <button class="btn btn-danger" (click)="deleteSector(aggregateSectors)">
                            X
                          </button>
                        </div>
                        <div class="description-sector">
                          <div class="row">
                            <div class="col-md-6">
                              <p><b>cantidad: </b> {{aggregateSectors.cantidad}}</p>
                            </div>
                            <div class="col-md-6 text-right">
                              <p><b>Precio individual: </b> {{aggregateSectors.precio}} Bs.</p>
                            </div>
                          </div>
                          <div class="col-md-12 text-right">
                            <p><b>Precio Total: </b> {{aggregateSectors.precio * aggregateSectors.cantidad}} Bs.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
      
                </ng-container>
                <ng-template #elseNoSpace>
                  
                  <div class="sector">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="title-sector">
                          <h4>aggregateSectors.nombre</h4>
                          <button class="btn btn-danger" (click)="deleteSector(aggregateSectors)">
                            X
                          </button>
                        </div>
                        <div class="description-sector">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Identificador</th>
                                <th scope="col">Capacidad</th>
                                <th scope="col">Tipo</th>
                                <th scope="col" class="price-1">Precio</th>
                                <th scope="col" class="options">Opciones</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let space of aggregateSectors.espacios">
                                <td>{{space.identificador}}</td>
                                <td>{{space.cantidad_de_personas}}</td>
                                <td>{{space.tipo_de_espacio}}</td>
                                <td> {{space.precio}} Bs.</td>
                                <td>
                                  <div class="text-center">
                                    <button type="button" class="btn btn-danger" (click)="deleteSpace(aggregateSectors, space)">X</button>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="col-md-12 text-right">
                            <p><b>Precio Total: </b> {{ticketDataService.calculatePriceSpaces()}} Bs.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </ng-template>
                


              </ng-container>
              


            </ng-container>
            <ng-template #elseEmptyAggregateSector>
              
              <div class="text-center">
                <h5>No tiene sectores agregados</h5>
              </div>

            </ng-template>
            

              <hr>
              <div class="row">
                <div class="col-md-12 text-right">
                  <p>Precio total: {{ticketDataService.calculatePriceTotal()}} Bs.</p>
                </div>
              </div>

            
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="goPayS()">Ir a comprar</button>
          </div>
        </form>


    </div>
  </div>
</div>
