<ng-container *ngIf="isLoading(); else elseLoading">
  <app-loading></app-loading>
</ng-container>
<ng-template #elseLoading>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Crear ubicacion</h1>
        </div>
      </div>
    </div>
  </section>
  
  <section class="content">
    <div class="container-fluid">
      <div class="row">
  
        <div class="col-md-12">
  
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Datos de la ubicacion</h3>
            </div>
  
            <form>
              <div class="card-body">
  
  
                <div class="row">
                  
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label >Nombre</label>
                      <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                  </div>
  
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label >Capacidad</label>
                      <input type="number" class="form-control" placeholder="Capacidad">
                    </div>
                  </div>
  
                </div>
  
                <div class="row">
                  
                  <div class="col-12 col-sm-12">
                    <div class="form-group">
                      <label >Ubicacion</label>
                      <input type="text" class="form-control" placeholder="Ubicacion">
                    </div>
                  </div>
  
                </div>
                
                <div class="row">
                  
                  <div class="col-12 col-sm-12">
                    <div class="form-group">
                      <label >Direccion</label>
                      <input type="text" class="form-control" placeholder="Direccion">
                    </div>
                  </div>
  
                </div>
                
                
  
                
                
              </div>
              
            </form>
          </div>
  
          
        </div>
        
      </div>
    </div>
  </section>



  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="title">
                <h3 class="card-title mr-3">Fechas asignadas para esta ubicacion</h3>
                <div>
                  <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modal-fecha">Nueva fecha</button>
                </div>
              </div>
            </div>
            <div class="card-body">

              <ng-container *ngIf="dates.length > 0; else emptyDate">
                
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Fecha Inicio</th>
                      <th>Hora</th>
                      <th style="width: 150px">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let date of dates">
                      <td>{{date.fecha_hora | date:'yyyy/MM/dd'}}</td>
                      <td>{{date.fecha_hora | date:'hh:mm'}}</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                          </button>
                          <div class="dropdown-menu" role="menu">
                            <!-- <a class="dropdown-item" [routerLink]="[ '/dashboard/area', date.idubicacion]">Editar</a> -->
                            <a class="dropdown-item" (click)="deleteDate(date)">Eliminar</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </ng-container>
              <ng-template #emptyDate>
                
                <app-empty title="No tiene fecha registrado"></app-empty>

              </ng-template>
              

            </div>
  
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="title">
                <h3 class="card-title mr-3">Areas asignadas para esta ubicacion</h3>
                <div>
                  <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modal-sector">Crear nueva area</button>
                </div>
              </div>
            </div>
            <div class="card-body">

              <ng-container *ngIf="sectors.length > 0; else elseEmptySector">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nombre de la area</th>
                      <th>Capacidad</th>
                      <th style="width: 150px">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sector of sectors">
                      <td>{{sector.nombre}}</td>
                      <td>{{sector.capacidad}}</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" [routerLink]="[ '/dashboard/area', sector.idubicacion]">Editar</a>
                            <a class="dropdown-item" (click)="deleteSector(sector)">Eliminar</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
              </ng-container>
              <ng-template #elseEmptySector>
                <app-empty title="no tiene sectores registrados"></app-empty>
              </ng-template>
              

            </div>
  
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Crear</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  
</ng-template>








<form [formGroup]="dateForm" (submit)="addDate()" autocomplete="off">

  <div class="modal fade" id="modal-fecha">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Fecha</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #refDateModal>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="row">
                  
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>Fecha del evento</label>
                  <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime" formControlName="fecha_hora" id="refDate">
                    <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
              </div>
            </div>
  
          </div>
  
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</form>



<form [formGroup]="sectorForm" (submit)="createSector()" autocomplete="off">

  <div class="modal fade" id="modal-sector">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nuevo sector</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #refSectorModal>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="row">

            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" formControlName="nombre">
              </div>
            </div>
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>Capacidad</label>
                <input type="number" class="form-control" formControlName="capacidad">
              </div>
            </div>
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>Referencia</label>
                <input type="text" class="form-control" formControlName="referencia">
              </div>
            </div>
  
          </div>
  
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</form>