<ng-container *ngIf="isLoading(); else elseLoading">
  <app-loading></app-loading>
</ng-container>
<ng-template #elseLoading>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Configurar ubicacion</h1>
        </div>
      </div>
    </div>
  </section>
  
  <form [formGroup]="locationForm" autocomplete="off" (submit)="updateLocation()">

    <section class="content">
      <div class="container-fluid">
        <div class="row">
    
          <div class="col-md-12">
    
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Datos de la ubicacion</h3>
              </div>
    
              <form>
                <div class="card-body">
    
    
                  <div class="row">
                    
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label >Nombre</label>
                        <input type="text" class="form-control" [ngClass]="{'invalid': isErrorLocation('nombre')}" placeholder="Nombre" formControlName="nombre">
                        <p p *ngIf="isErrorLocation('nombre')" class="text-danger text-right">El nombre es obligatorio</p>
                      </div>
                    </div>
    
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label >Capacidad</label>
                        <input type="number" class="form-control" [ngClass]="{'invalid': isErrorLocation('cantidad_de_personas')}" placeholder="Cantidad de personas" formControlName="cantidad_de_personas">
                        <p *ngIf="isErrorLocation('cantidad_de_personas')" class="text-danger text-right">La cantidad de personas debe ser mayor a 0</p>
                      </div>
                    </div>
    
                  </div>
    
                  <div class="row">
                    
                    <div class="col-12 col-sm-12">
                      <div class="form-group">
                        <label >Direccion</label>
                        <input type="text" class="form-control" [ngClass]="{'invalid': isErrorLocation('direccion')}" placeholder="Direccion de la ubicacion" formControlName="direccion">
                        <p *ngIf="isErrorLocation('direccion')" class="text-danger text-right">La direccion es obligatorio</p>
                      </div>
                    </div>
    
                  </div>
                  
                  <div class="row">
                    
                    <div class="col-12 col-sm-12">
                      <div class="form-group">
                        <label>Seleccione en el mapa donde se encuentra el punto</label>
                        <app-google-map [initPositionUpdate]="initialPosition" [isUpdate]="true" (eventEmitterSelectedCreateMarker)="changeLatLng($event)"></app-google-map>
                      </div>
                    </div>
    
                  </div>
                  
                  
    
                  
                  
                </div>
                
              </form>
            </div>
    
            
          </div>
          
        </div>
      </div>
    </section>
    
    <div class="my-5"></div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="title">
                  <h3 class="card-title mr-3">Fechas asignadas para esta ubicacion</h3>
                </div>
              </div>
              <div class="card-body">

                <div class="row">

                  <div class="col-md-12">
                    <label>Fecha del evento</label>

                    <div class="form-group date">
                      <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Fecha del evento" id="refDate">
                      <owl-date-time #dt1></owl-date-time>
                      <button type="button" class="btn btn-primary" (click)="addDate()">Agregar Fecha</button>
                    </div>
                  </div>

                </div>

                <hr>
  
                <ng-container *ngIf="dates.length > 0; else emptyDate">
                  
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Fecha Inicio</th>
                        <th>Hora</th>
                        <th style="width: 150px">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let date of dates">
                        <td>{{date.fecha_hora | date:'yyyy/MM/dd':'UTC-0'}}</td>
                        <td>{{date.fecha_hora | date:'shortTime':'UTC-0'}}</td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                            </button>
                            <div class="dropdown-menu" role="menu">
                              <!-- <a class="dropdown-item" [routerLink]="[ '/dashboard/area', date.idubicacion]">Editar</a> -->
                              <a class="dropdown-item" (click)="deleteDate(date)">Eliminar</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
  
                </ng-container>
                <ng-template #emptyDate>
                  
                  <app-empty title="No tiene fecha registrado"></app-empty>
  
                </ng-template>
                
  
              </div>
    
            </div>
          </div>
          
        </div>
      </div>
    </section>
    
    <div class="my-5"></div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="title">
                  <h3 class="card-title mr-3">Areas asignadas para esta ubicacion</h3>
                  <div>
                    <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modal-sector">Crear nueva area</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
  
                <ng-container *ngIf="sectors.length > 0; else elseEmptySector">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Nombre de la area</th>
                        <th>Capacidad</th>
                        <th style="width: 150px">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let sector of sectors">
                        <td>{{sector.nombre}}</td>
                        <td>{{sector.capacidad}}</td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown" [disabled]="isUpdatingArea">
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" (click)="updateSector(sector)">Editar</a>
                              <a class="dropdown-item" (click)="deleteSector(sector)">Eliminar</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                </ng-container>
                <ng-template #elseEmptySector>
                  <app-empty title="no tiene sectores registrados"></app-empty>
                </ng-template>
                
  
              </div>
    
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" [disabled]="isUpdatingLocation">Guardar</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>

  </form>


  
</ng-template>


<form [formGroup]="sectorForm" (submit)="createSector()" autocomplete="off">

  <div class="modal fade" id="modal-sector">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nueva area</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #refSectorModal>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="row">

            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" [ngClass]="{'invalid': isErrorSector('nombre')}" formControlName="nombre">
                <p *ngIf="isErrorSector('nombre')" class="text-danger text-right">El nombre es obligatorio</p>
              </div>
            </div>
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>Capacidad</label>
                <input type="number" class="form-control" [ngClass]="{'invalid': isErrorSector('capacidad')}" formControlName="capacidad">
                <p *ngIf="isErrorSector('capacidad')" class="text-danger text-right">La capacidad debe ser mayor a 0</p>
              </div>
            </div>
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>Referencia</label>
                <input type="text" class="form-control" formControlName="referencia">
              </div>
            </div>
  
          </div>
  
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" [disabled]="isCreatingArea">Agregar</button>
        </div>
      </div>
    </div>
  </div>

</form>