<ng-container *ngIf="isLoading; else elseLoading">
  <app-loading></app-loading>
</ng-container>
<ng-template #elseLoading>
  
  <div class="content-public">
  
    <div class="image1">
      <img [src]="getLast(event.imagenes)" alt="">
    </div>
  
    <div class="event-content">
      
      <div class="event-details">
        
        <div class="image2">
          <img [src]="event.imagenes[0]" alt="image2">
        </div>
        

        <div class="event-descripcion">
          <h1>{{event.nombre}}</h1>
          <h3>{{event.categoria}}</h3>
  
          <div class="section-form">
            <form [formGroup]="dataForm" autocomplete="off" (submit)="selectData()">
                
              <div class="form-group">
                <label for="">Ubicacion</label>
                <select name="" id="" class="form-control" (change)="changeLocation()" formControlName="idLocation">
                  <option value="0" hidden>Seleccione una ubicacion</option>
                  <ng-container *ngFor="let location of event.ubicaciones">
                    <option [value]="location.idubicacion">{{location.nombre}}</option>
                  </ng-container>
                  
                </select>
              </div>

              <ng-container *ngIf="dataForm.get('idLocation')?.value != ''">

                <ng-container *ngIf="isLoadingDate; else elseLoadingDate">
                  <div class="text-center">
                    <app-loading-data></app-loading-data>
                  </div>
                </ng-container>
                <ng-template #elseLoadingDate>
                  <div class="form-group">
                    <label for="">Horario</label>
                    <select name="" id="" class="form-control" formControlName="idDate">
                      <option value="0" hidden>Seleccione el horario</option>
                      <ng-container *ngFor="let dt of date">
                        <option [value]="dt.idhorario">{{dt.fecha_hora | date:'mediumDate':'UTC-0'}} - {{dt.fecha_hora | date:'shortTime':'UTC-0'}}</option>
                      </ng-container>
                    </select>
                  </div>

                  <button type="submit" class="btn btn-danger" *ngIf="dataForm.get('idDate')?.value != ''">Comprar Ticket</button>

                </ng-template>
      
              </ng-container>
              
            </form>
          </div>
  
        </div>
      

     
      </div>


      <div class="event">
        
        <div class="event-information mb-5" *ngIf="event.descripcion.length>0">
          
            <h4>Descripcion</h4>
            <p>{{event.descripcion}}</p>
  
        </div>
    
        <div class="event-map" *ngIf="initPosition">
          <h4>Como llegar</h4>

          <app-google-map [isCreate]="false" [initPosition]="initPosition" [changeLocation]="initPosition"></app-google-map>
        
        </div>
    

      </div>
  
    </div>
  
  
  
  </div>
  
  <div id="show-map" *ngIf="initPosition" (click)="showMap()">
    <i class="fa fa-map-marked-alt"></i>
  </div>

</ng-template>

<button hidden data-toggle="modal" data-target="#modal-details-event" #refModal></button>
<button hidden data-toggle="modal" data-target="#modal-details-event-sector" #refModalSector></button>

<app-details-modal></app-details-modal>
<app-details-modal-sector></app-details-modal-sector>

<div class="loading" *ngIf="isSendingData">
  <div class="text-center">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>