

<div class="content-public">
  <ng-container *ngIf="isLoading; else elseLoading">
    <div class="loading">
      <app-loading></app-loading>
    </div>
  </ng-container>
  <ng-template #elseLoading>
    
    <div class="carousel">

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let event of eventDataService.events" [ngClass]="{'active': isFirst(event)}" [routerLink]="[ '/public/evento', event.idevento]">
            <img class="d-block w-100" [src]="getImage(event.imagenes)" alt="First slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>


    
    <div class="events-list">
  
      <div class="event" [routerLink]="[ '/public/evento', event.idevento]" *ngFor="let event of eventDataService.events">
  
  
        <div class="event-description">
  
          <div class="event-title">
            <h4>{{event.nombre}}</h4>
            <h6>{{event.categoria}}</h6>
          </div>
  
  
          <p>{{event.descripcion | categoryLength}}</p>
        </div>
        
        <img [src]="event.imagenes[0]" alt="">
  
       
  
      </div>
  
    </div>

  </ng-template>
  

</div>

