<ng-container *ngIf="isLoading; else elseLoading">
  <app-loading></app-loading>
</ng-container>
<ng-template #elseLoading>
  
  <form [formGroup]="areaForm" autocomplete="off" (submit)="updateArea()">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Configurar area</h1>
          </div>
        </div>
      </div>
    </section>
    
    <section class="content">
      <div class="container-fluid">
        <div class="row">
    
          <div class="col-md-12">
    
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Datos de la area</h3>
              </div>
    
                <div class="card-body">
    
    
                  <div class="row">
                    
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label >Nombre</label>
                        <input type="text" class="form-control" [ngClass]="{'invalid': isErrorArea('nombre')}" placeholder="Nombre" formControlName="nombre">
                        <p *ngIf="isErrorArea('nombre')" class="text-danger text-right">El nombre es obligatorio</p>
                      </div>
                    </div>
                    
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label >Capacidad</label>
                        <input type="number" class="form-control" [ngClass]="{'invalid': isErrorArea('capacidad')}" placeholder="Capacidad" formControlName="capacidad">
                        <p *ngIf="isErrorArea('capacidad')" class="text-danger text-right">La capacidad debe ser mayor a 0</p>
                      </div>
                    </div>
    
                  </div>
                  
                  <div class="row">
                    
                    <div class="col-12 col-sm-12">
                      <div class="form-group">
                        <label >Referencia</label>
                        <textarea type="text" class="form-control" placeholder="Referencia" formControlName="referencia"></textarea>
                      </div>
                    </div>
    
                  </div>

                  <div class="row" *ngIf="spaces.length === 0">
                    
                    <div class="col-12 col-sm-12">
                      <div class="form-group">
                        <label >Precio</label>
                        <input type="number" class="form-control" placeholder="Precio" min="0" formControlName="precio">
                      </div>
                    </div>
    
                  </div>
                  
                </div>
                
            </div>
    
            
          </div>
          
        </div>
      </div>
    </section>
    
    <div class="my-5"></div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="title">
                  <h3 class="card-title mr-3">Espacios asignados para esta area</h3>
                  <div>
                    <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modal-espacio" hidden id="refNewSpace">Crear nuevo espacio</button>
                    <button type="button" class="btn btn-block bg-gradient-primary" id="refNewSpace" (click)="clickCreateSpace()">Crear nuevo espacio</button>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="spaces.length > 0; else elseEmpty">
                
                <div class="card-body card-table">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Identificador</th>
                        <th>Cantidad de personas</th>
                        <th>Tipo de espacio</th>
                        <th>Precio</th>
                        <th style="width: 150px">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let space of spaces">
                        <td>{{space.identificador}}</td>
                        <td>{{space.cantidad_de_personas}}</td>
                        <td>{{space.tipo_de_espacio}}</td>
                        <td>{{space.precio}} Bs.</td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown" [disabled]="isDeletingSpace">
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" (click)="updateSpace(space)">Editar</a>
                              <a class="dropdown-item" (click)="deleteSpace(space)">Eliminar</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </ng-container>
              <ng-template #elseEmpty>
                
                <div class="my-5">
                  <app-empty title="No tiene espacios asignados a esta area"></app-empty>
                </div>

              </ng-template>
              

    
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" [disabled]="isUpdatingArea">Guardar</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
  </form>


</ng-template>



<form [formGroup]="spaceForm" (ngSubmit)="createSpace()">
  <div class="modal fade" id="modal-espacio">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Espacio</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #refCreateSpaceModal>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="row">
                  
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label >Identificador</label>
                <input type="text" class="form-control" [ngClass]="{'invalid': isErrorSpace('identificador')}" placeholder="Identificador" formControlName="identificador">
                <p *ngIf="isErrorSpace('identificador')" class="text-danger text-right">El identificador es obligatorio</p>
              </div>
            </div>
  
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label >Cantidad de personas</label>
                <input type="number" class="form-control" [ngClass]="{'invalid': isErrorSpace('cantidad_de_personas')}" placeholder="Cantidad de personas" formControlName="cantidad_de_personas">
                <p *ngIf="isErrorSpace('cantidad_de_personas')" class="text-danger text-right">La cantidad debe se mayor a 0</p>
              </div>
            </div>
  
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label >Tipo de espacio</label>
                <input type="text" class="form-control" [ngClass]="{'invalid': isErrorSpace('tipo_de_espacio')}" placeholder="Tipo de espacio" formControlName="tipo_de_espacio">
                <p *ngIf="isErrorSpace('tipo_de_espacio')" class="text-danger text-right">El tipo de espacio es obligatorio</p>
              </div>
            </div>

            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label >Precio</label>
                <input type="text" class="form-control" [ngClass]="{'invalid': isErrorSpace('precio')}" placeholder="Precio" formControlName="precio">
                <p *ngIf="isErrorSpace('precio')" class="text-danger text-right">El precio debe ser mayor a 0</p>
              </div>
            </div>

            <div class="col-12 col-sm-12" *ngIf="isFileAmount">
              <div class="form-group">
                <label >Cantidad</label>
                <input type="text" class="form-control" [ngClass]="{'invalid': isErrorSpace('cantidad')}" placeholder="cantidad" formControlName="cantidad">
              </div>
            </div>
  
          </div>
  
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" [disabled]="isCreatingSpace">Listo</button>
        </div>
      </div>
    </div>
  </div>
</form>

