<ng-container *ngIf="isLoading; else elseLoading">
  <app-loading></app-loading>
</ng-container>
<ng-template #elseLoading>
  
  <form [formGroup]="areaForm" autocomplete="off" (submit)="updateArea()">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Configurar area</h1>
          </div>
        </div>
      </div>
    </section>
    
    <section class="content">
      <div class="container-fluid">
        <div class="row">
    
          <div class="col-md-12">
    
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Datos de la area</h3>
              </div>
    
              <form>
                <div class="card-body">
    
    
                  <div class="row">
                    
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label >Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                      </div>
                    </div>
    
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label >Capacidad</label>
                        <input type="number" class="form-control" placeholder="Capacidad" formControlName="capacidad">
                      </div>
                    </div>
    
                  </div>
                  
                  <div class="row">
                    
                    <div class="col-12 col-sm-12">
                      <div class="form-group">
                        <label >Referencia</label>
                        <textarea type="text" class="form-control" placeholder="Referencia" formControlName="referencia"></textarea>
                      </div>
                    </div>
    
                  </div>
                  
                </div>
                
              </form>
            </div>
    
            
          </div>
          
        </div>
      </div>
    </section>
    
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="title">
                  <h3 class="card-title mr-3">Espacios asignados para esta area</h3>
                  <div>
                    <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modal-espacio" hidden id="refNewSpace">Crear nuevo espacio</button>
                    <button type="button" class="btn btn-block bg-gradient-primary" id="refNewSpace" (click)="clickCreateSpace()">Crear nuevo espacio</button>
                  </div>
                </div>
              </div>
              <div class="card-body card-table">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Identificador</th>
                      <th>Cantidad de personas</th>
                      <th>Tipo de espacio</th>
                      <th>Estado</th>
                      <th style="width: 150px">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let space of spaces">
                      <td>{{space.identificador}}</td>
                      <td>{{space.cantidad_de_personas}}</td>
                      <td>{{space.tipo_de_espacio}}</td>
                      <td>{{space.estado}}</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" (click)="updateSpace(space)">Editar</a>
                            <a class="dropdown-item" (click)="deleteSpace(space)">Eliminar</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
    
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
  </form>


</ng-template>



<form [formGroup]="spaceForm" (ngSubmit)="createSpace()">
  <div class="modal fade" id="modal-espacio">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Espacio</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #refCreateSpaceModal>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="row">
                  
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label >Identificador</label>
                <input type="text" class="form-control" placeholder="Identificador" formControlName="identificador">
              </div>
            </div>
  
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label >Cantidad de personas</label>
                <input type="number" class="form-control" placeholder="Cantidad de personas" formControlName="cantidad_de_personas">
              </div>
            </div>
  
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label >Tipo de espacio</label>
                <input type="text" class="form-control" placeholder="Tipo de espacio" formControlName="tipo_de_espacio">
              </div>
            </div>
  
          </div>
  
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Listo</button>
        </div>
      </div>
    </div>
  </div>
</form>
