

<div class="card">
  <div class="card-body register-card-body">
    <p class="login-box-msg">Nueva cuenta</p>

    <form [formGroup]="registerForm" autocomplete="off" (submit)="register()">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [ngClass]="{'invalid': isError('nombre_usuario')}" placeholder="Nombre" formControlName="nombre_usuario">
        <div class="input-group-append">
          <div class="input-group-text" [ngClass]="{'invalid': isError('nombre_usuario')}">
            <span class="fas fa-user"></span>
          </div>
        </div>
        </div>
      <div class="input-group mb-3">
        <input type="email" class="form-control" [ngClass]="{'invalid': isError('email')}" placeholder="Email" formControlName="email">
        <div class="input-group-append">
          <div class="input-group-text" [ngClass]="{'invalid': isError('email')}">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="password" class="form-control" [ngClass]="{'invalid': isError('contrasena')}" placeholder="Contraseña" formControlName="contrasena">
        <div class="input-group-append">
          <div class="input-group-text" [ngClass]="{'invalid': isError('contrasena')}">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="password" class="form-control" [ngClass]="{'invalid': contrasenias()}" placeholder="Confirmar contraseña" formControlName="confirContraseña">
        <div class="input-group-append">
          <div class="input-group-text" [ngClass]="{'invalid': contrasenias()}">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="sendingData">Registro</button>
        </div>
      </div>
    </form>

    <!-- <div class="social-auth-links text-center">
      <p>- o -</p>
      <a href="#" class="btn btn-block btn-primary">
        <i class="fab fa-facebook mr-2"></i>
        Sign up using Facebook
      </a>
      <a href="#" class="btn btn-block btn-danger">
        <i class="fab fa-google-plus mr-2"></i>
        Sign up using Google+
      </a>
    </div> -->

    <hr>

    <a routerLink="/auth/login" class="text-center">Ya tienes una cuenta?? Inicia sesión aqui</a>

  </div>
  


</div><!-- /.card -->
