/* You can add global styles to this file, and also import other style files */
@import  '~ng-pick-datetime/assets/style/picker.min.css' ;

.title{
  display: flex;
  align-items: center;
}

a{
  cursor: pointer;
}

.invalid{
  border: 1px solid red;
}

body{
  background-color: #F7F8FC;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.content-public{
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
}