<ng-container *ngIf="isLoading; else elseLoading">
  
  <app-loading></app-loading>

</ng-container>
<ng-template #elseLoading>
  
  <section class="content-header">
    <div class="container-fluid">
      <div class="col-sm-6">
        <h1>Eventos</h1>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="title">
                <h3 class="card-title mr-3">Eventos creados</h3>
                <div>
                  <button type="button" class="btn btn-block bg-gradient-primary" data-toggle="modal" data-target="#modal-create-event">Crear nuevo evento</button>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th style="width: 150px">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of events">
                    <td>{{event.nombre}}</td>
                    <td>{{event.categoria_evento.nombre}}</td>
                    <td>{{event.estado}}</td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                          <a class="dropdown-item" [routerLink]="[ '/dashboard/evento/', event.idevento ]">Editar</a>
                          <a class="dropdown-item" (click)="changeStatus(event)">Cambiar estado</a>
                          <a class="dropdown-item" (click)="deleteEvent(event)">Eliminar</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        
      </div>
    </div>
  </section>

</ng-template>  




<form [formGroup]="eventForm" autocomplete="off" (ngSubmit)="create()">
  <div class="modal fade" id="modal-create-event">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nuevo evento</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #refClose>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
                  
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nombre del evento</label>
                <input type="text" [ngClass]="{'invalid': isError('nombre')}" class="form-control" placeholder="Nombre del evento" formControlName="nombre">
                <p *ngIf="isError('nombre')" class="text-danger text-right">El nombre es obligatorio</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Categoria</label>
                <select [ngClass]="{'invalid': isError('idcategoria')}" class="form-control" formControlName="idcategoria">
                  <option selected hidden [value]="0">Seleccione una categoria</option>
                  <option *ngFor="let category of categories" [value]="category.idcategoria">{{category.nombre}}</option>
                </select>
                <p *ngIf="isError('idcategoria')" class="text-danger text-right">La categoria es obligatorio</p>
              </div>
  
            </div>
          </div>
  
  
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="isCreatingEvent">Crear</button>
        </div>
      </div>
    </div>
  </div>
</form>
